<!DOCTYPE html>
<html lang="es">
<head>
    <h1>Detalles</h1>
</head>
<body>
    <div class= "my_product">
        <div class = "info">
            <div class="text">
                <p>{{param[0][3]}} unidades</p>
                <p>talle {{param[0][5]}}</p>
                <p>${{param[0][4]}}</p>
            </div>
            <button class="buy-again-btn"><a href="/productos/{{param[0][2]}}">Volver a Comprar</a></button>
        </div>

        
        <div class="lala">
            <img src="{{param[1][3]}}">
        </div>
    </div>
</body>
</html>