<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Beerseba</title>
	<link rel="stylesheet" href="../static/Others/login.css">
</head>
<body>
<!--MENUU--><!--MENUU--><!--MENUU--><!--MENUU--><!--MENUU-->
<!--MENUU--><!--MENUU--><!--MENUU--><!--MENUU--><!--MENUU-->
</body>
</html>
<div class="body"></div>
		<div class="grad"></div>

		<div class="header">
			<div>Beerseba<span>Admin</span></div>
		</div>
		<br>
		<form class="login" id="mylogin" action="/receivedatalogin1" method="post">
				<input type="text" placeholder="mail" name="mail"><br>
				<input type="password" placeholder="password" name="password"><br>
				<div class="login-btn">
				<button type="submit">Login</button>
				<!--<input type="button" value="Login" href="-->
				<p>{{param}}</p>
				</div>
		</form>

